<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Differentiation-in-Calculus/blob/main/MAT120_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# import library

from numpy import*     # numarical python (array, matrix, linear algebra, fourier, functions)
from sympy import*     # symbolic python ( Calculas , sin , cos , log , ln)

In [ ]:
# Make a symbol

x=symbol('x')

In [ ]:
# Write symbolic expression from sympy import*

f= 2*x**3+x**2+3*x+5

In [ ]:
# Taking derivatives

df = diff(f,x)

df2= diff(f,x,2)

In [ ]:
# Printing 

print(df)

print(df2)