<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Differentiation-in-Calculus/blob/main/MAT120_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# import library

from numpy import*     # numarical python (array, matrix, linear algebra, fourier, functions)
from sympy import*     # symbolic python ( Calculas , sin , cos , log , ln)

In [13]:
# Make a symbol

x=symbols('x')

In [14]:
# Write symbolic expression from sympy import*

f= 2*x**3+x**2+3*x+5

In [15]:
# Taking derivatives

df = diff(f,x)

df2= diff(f,x,2)

In [16]:
# Printing 

print(df)

print(df2)

6*x**2 + 2*x + 3
2*(6*x + 1)

In [24]:
df2= diff(df,x)
print(df2)

12*x + 2

In [18]:
# Value substituting

print(f.subs(x,4))

161

In [23]:
# Evaluating a number exor into floating point

print(f.subs(x,4).evalf())

161.000000000000

In [27]:
# Lambdify function = if eval() function is not efficient 
# Translates sympy expr into numarical expr
# Creates options for evaluating

f = lambdify (x, f)
df= lambdify (x,df)

print(f(3))
print(df(3))

77
63